<mat-toolbar color="primary">

  <span>pagar.me challenge</span>
  <div class="container">
    <div class="row">
      <div class="col">
        <a href="/book" routerLinkActive="active">Livros</a>
      </div>
      <div class="col">
        <a href="/dvd" routerLinkActive="active">Dvds</a>
      </div>
      <div class="col">
        <a href="/cd" routerLinkActive="active">Cds</a>
      </div>
      <div class="col">
        <a href="/contact" routerLinkActive="active">Contatos</a>
      </div>
    </div>
  </div>

</mat-toolbar>